<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Banho e Tosa</title>

    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/pages/banho_e_tosa.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="../pagina_principal/pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="../pagina_principal/pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="../sobre_nos/sobre_nos.html">SOBRE NÓS</a>
                </li>
                <li class="foto-perfil">
                    <a href="../perfil_usuario/perfil_usuario.html">
                        <img src="../../static/css/imagens/foto-perfil-padrao.png" alt="foto-perfil">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo-pagina">BANHO E TOSA</h1>

    <div class="banho">
        <div class="informacoes-pet">
            <div class="imagem-pet">
                <img src="../../static/css/imagens/banho.png" alt="imagem do pet">
            </div>
            <div class="nome-do-pet">
                <h2>NOME DO PET</h2>
            </div>
        </div>

        <div class="informacoes-banho-pet">
            <div class="titulo-banho-pet">
                <h2>DATA DO ÚLTIMO BANHO</h2>
                <h2>PRÓXIMO BANHO</h2>
            </div>

            <div class="datas-banho">
                <h3>13/11/2024</h3>
                <h3 class="data-proximo-banho">20/11/2024</h3>
            </div>

            <div class="situacao-banho-pet">
                <h3>SEU PET ESTÁ EM DIA COM O BANHO</h3>
            </div>

            <div class="registrar-novo-banho">
                <a href="./registrar_novo_banho.html">REGISTRAR NOVO BANHO</a>
            </div>
        </div>

    </div>
</body>
</html>