/* Título da página */

.titulo-pagina {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #053451;
    margin: 20px 0 0;
}

/* BANHO */

.banho {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    gap: 90px;
}

/* DIV ESQUERDA | INFORMAÇÕES DO PET SELECIONADO */

.informacoes-pet {
    display: block;
}

.imagem-pet img {
    background-color: #053451;
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 100%;
}

.informacoes-pet .nome-do-pet {
    text-align: center;
    margin: 10px auto;
}

.informacoes-pet .nome-do-pet h2 {
    color: #053451;
    font-size: 24px;
    font-weight: 600;
}

/* DIV DIREITA | DATAS DOS BANHOS */
/* TITULOS DAS INFORMAÇÕES DE DATAS DO PET  */

.titulo-banho-pet {
    display: flex;
    gap: 50px;
}

.titulo-banho-pet h2 {
    font-size: 26px;
    color: #053451;
    font-weight: 700;
}

/* DATAS BANHOS PET */

.datas-banho {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 90px;
}

.datas-banho h3 {
    font-weight: 600;
    width: 120px;
    background-color: #0B7ABF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 0 0 40px;
}

/* SITUAÇÃO DO BANHO DO PET */

.situacao-banho-pet {
    margin: 40px auto auto 55px;
    text-align: center;
}

.situacao-banho-pet h3 {
    background-color: #0B7ABF;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    max-width: 450px;
}

/* REGISTRAR NOVO BANHO */

.registrar-novo-banho {
    text-align: center;
    margin: 30px 0 0;
}

.registrar-novo-banho a {
    color: #0B7ABF;
    font-size: 18px;
}