/* Div de interação com usuário */

.cadastrar-pet {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container cadastrar pet */

.cadastrar-pet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
    margin: 40px 0 0; 
    background-color: var(--bg-color-01);
    text-align: center;
    padding: 30px 50px;
    border-radius: 20px;
}

/* titulo */

.cadastrar-pet-container .titulo-area-pet h2 {
    font-weight: 700;
    font-size: 30px;
    color: var(--text-color-01);
    text-align: center;
}

/* Container cadastrar pet */

.cadastrar-pet-container .interacao-usuario {
    width: 100%;
    margin-top: 20px;
}

/* input container */

.cadastrar-pet-container .interacao-usuario .input-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    width: 100%;
    text-align: start;
}

/* label */

.cadastrar-pet-container .interacao-usuario .input-container label {
    font-size: 18px;
    color: var(--text-color-01);
    font-weight: 600;
    text-transform: uppercase;
}

/* inputs */

.cadastrar-pet-container .interacao-usuario .input-container input {
    margin: 5px 0 0 0;
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: #333;
    border: 2px solid var(--bg-color-01);
}

/* select */

.cadastrar-pet-container .interacao-usuario .input-container select {
    margin: 5px 0 0 0;
    font-size: 16px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 10px;
    color: #333;
    border: 2px solid var(--bg-color-01);
}

/* option */

.cadastrar-pet-container .interacao-usuario .input-container option {
    padding: 5px;
}

/* Sobre o pet, textarea */

.cadastrar-pet-container .interacao-usuario .input-container .sobre-o-pet {
    margin: 5px 20px 25px 0;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: #333;
    border: 2px solid var(--bg-color-01);
    height: 100px;             /* Altura fixa para o campo */
    overflow-y: auto;          /* Barra de rolagem vertical ao exceder a altura */
    resize: none;              /* Impede o redimensionamento pelo usuário */
    white-space: pre-wrap;
}

/* Botão cadastrar Pet */

.cadastrar-pet {
    margin-top: 20px;
}

.botao-cadastrar-pet {
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: var(--bg-color-02);
    color: var(--text-color-01);
}


/* ==== MEDIA QUERIES ==== */
/* ==== RESPONSIVIDADE ==== */

/* Extra Small (XS) - Celular no modo retrato */
@media (min-width: 0px) {
    body {
        background-color: purple;
    }

    /* Container cadastrar pet */
    .cadastrar-pet-container {
        width: 90%;
        margin: 20px 0 0; 
        padding: 20px 20px;
    }

    /* titulo */
    /* input container */
    .cadastrar-pet-container .interacao-usuario .input-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /* label */

    /* inputs */

    /* Sobre o pet, textarea */
    .cadastrar-pet-container .interacao-usuario .input-container .sobre-o-pet {
        height: 150px;         
    }

    /* Botão cadastrar Pet */
    .cadastrar-pet {
        margin-top: 0px;
    }
}

/* Small (S) - Celular no modo horizontal */
@media (min-width: 576px) {
    body {
        background-color: red;
    }

    /* Container cadastrar pet */
    .cadastrar-pet-container {
        width: 80%;
        margin: 20px 0 0; 
        padding: 20px 20px;
    }
}

/* Medium (M) - Tablets */
@media (min-width: 768px) {
    body {
        background-color: green;
    }

    /* Container cadastrar pet */
    .cadastrar-pet-container {
        width: 90%;
        margin: 20px 0 0; 
        padding: 20px 20px;
    }

    /* input container */
    .cadastrar-pet-container .interacao-usuario .input-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }

    /* Sobre o pet, textarea */
    .cadastrar-pet-container .interacao-usuario .input-container .sobre-o-pet {
        height: 100px;         
    }
}

/* Large (L) - Laptop */
@media (min-width: 992px) {
    body {
        background-color: aqua;
    }

    /* Container cadastrar pet */
    .cadastrar-pet-container {
        width: 90%;
        padding: 20px 30px;
    }

    /* input container */
    .cadastrar-pet-container .interacao-usuario .input-container {
        gap: 20px;
    }
}

/* Extra large (xl): Desktop */
@media (min-width: 1200px) {
    body {
        background-color: orange;
    }

    /* Container cadastrar pet */
    .cadastrar-pet-container {
        width: 70%;
        margin: 40px 0 0; 
        padding: 30px 50px;
    }

    /* input container */
    .cadastrar-pet-container .interacao-usuario .input-container {
        gap: 30px;
    }
}