/* Section */

.editar-perfil {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container editar perfil */

.editar-perfil .editar-perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    text-align: center;
    background-color: var(--bg-color-01);
    margin-top: 40px;
    padding: 30px 40px;
    border-radius: 20px;
}

/* Título da página */

.editar-perfil .editar-perfil-container .titulo-editar-perfil h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color-01);
}

.editar-perfil .editar-perfil-container .interacao-usuario {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
    width: 100%;
}

.interacao-usuario .interacao-item {
    width: 100%;
    text-align: start;
}

/* Label */

.editar-perfil .editar-perfil-container .interacao-usuario .interacao-item label {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color-01);
    padding-left: 5px
}

/* Input */

.interacao-usuario .interacao-item input {
    margin: 0 0 25px 0;
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding: 2px 10px;
    border-radius: 20px;
    background-color: #D9D9D9;
    color: #333;
    border: 3px solid #053451;
}

/* Erro no input */
.interacao-usuario .interacao-item.error input {
    border-color: #ff3b25;
}

/* Botão Salvar */

.editar-perfil-container .interacao-usuario .salvar {
    background-color: var(--bg-color-02);
    color: var(--text-color-01);
    border-radius: 20px;
    margin: 0 auto;
    padding: 15px 40px;
    cursor: pointer;
    border: none;
}

.editar-perfil-container .interacao-usuario .salvar h3 {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

/* ==== MEDIA QUERIES ==== */
/* ==== RESPONSIVIDADE ==== */

/* Extra Small (XS) - Celular no modo retrato */
@media (min-width: 0px) {
    /* Container editar perfil */
    .editar-perfil .editar-perfil-container {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        padding: 20px;
    }

    /* Título da página */
    .editar-perfil .editar-perfil-container .titulo-editar-perfil h2 {
        font-size: 32px;
    }

    .editar-perfil .editar-perfil-container .interacao-usuario {
        width: 100%;
    }

    /* Label */
    .editar-perfil .editar-perfil-container .interacao-usuario label {
        font-size: 18px;
    }

    /* Input */
    .interacao-usuario input {
        margin-bottom: 15px;
        font-size: 16px;
    }

    /* Botão Salvar */
    .editar-perfil-container .interacao-usuario .salvar {
        padding: 10px 25px;
    }

    .editar-perfil-container .interacao-usuario .salvar h3 {
        font-size: 18px;
    }
}

/* Small (S) - Celular no modo horizontal */
@media (min-width: 576px) { 
    /* Container editar perfil */
    .editar-perfil .editar-perfil-container {
        width: 80%;
        padding: 20px 30px;
    }

    /* Botão Salvar */
    .editar-perfil-container .interacao-usuario .salvar {
        padding: 10px 30px;
    }
}

/* Medium (M) - Tablets */
@media (min-width: 768px) {
    /* Container editar perfil */
    .editar-perfil .editar-perfil-container {
        width: 70%;
        margin-top: 20px;
        padding: 20px 30px;
    }

    /* Título da página */
    .editar-perfil .editar-perfil-container .titulo-editar-perfil h2 {
        font-size: 40px;
    }

    /* Label */
    .editar-perfil .editar-perfil-container .interacao-usuario label {
        font-size: 20px;
    }

    /* Botão Salvar */
    .editar-perfil-container .interacao-usuario .salvar {
        padding: 13px 35px;
    }

    .editar-perfil-container .interacao-usuario .salvar h3 {
        font-size: 18px;
    }
}

/* Large (L) - Laptop */
@media (min-width: 992px) {
    /* Container editar perfil */
    .editar-perfil .editar-perfil-container {
        width: 60%;
        margin-top: 20px;
        padding: 20px 40px;
    }

    /* Botão Salvar */
    .editar-perfil-container .interacao-usuario .salvar {
        padding: 15px 40px;
    }

    .editar-perfil-container .interacao-usuario .salvar h3 {
        font-size: 18px;
    }
}

/* Extra large (xl): Desktop */
@media (min-width: 1200px) {
    /* Container editar perfil */
    .editar-perfil .editar-perfil-container {
        width: 50%;
        margin-top: 40px;
    }
}