/* Título da página */

.titulo-pagina {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #053451;
    margin: 20px 0 0;
}

.conteudo-noticia {
    background-color: orange;
    margin: 30px 80px;
}