/* # Estilos da página principal */

/* BANNER PRINCIPAL */

.fundo-banner-principal {
    /* margin-top: 80px; */
    background-color: #053451;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SERVIÇOS */

.servicos h2 {
    margin: 20px 0 0 65px;
    font-size: 24px;
    font-weight: 900;
    color: #074973;
}

.servicos ul {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0;
}

.servicos ul a {
    text-decoration: none;
}

.servicos .botoes li {
    width: 400px;
    height: 190px;
    border-radius: 20px;
    text-align: center;
    background-color: #0B7ABF;
    margin: 0 30px 0;
}

.servicos .botoes li h3 {
    font-weight: 700;
    font-size: 28px;
    color: #ffffff;
    text-align: left;
    margin: 30px 0 0 30px;
    max-width: 350px;
}

.servicos .botoes li p {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    max-width: 180px;
    margin: 15px 0 0 30px;
}

.servicos .botoes .imagem-meus-pets {
    width: 80%;
    height: 80%;
    margin: -74px 0 0 70px;
}

.servicos .botoes .imagem-banho {
    width: 90%;
    height: 90%;
    margin: -110px 0 0 40px;
}

.servicos .botoes .imagem-medicamentos-e-vacinas {
    width: 80%;
    height: 80%;
    margin: -124px 0 0 40px;
}

.servicos .botoes .imagem-noticias {
    width: 100%;
    height: 100%;
    margin: -129px 0 0 0;
    border-bottom-right-radius: 20px;
}

.servicos .botoes .imagem-pet-shops {
    width: 90%;
    height: 90%;
    margin: -115px 0 0 20px;
}

.servicos .botoes .imagem-rotina {
    width: 100%;
    height: 100%;
    margin: -129px 0 0; 
    border-bottom-right-radius: 20px;
}

/* PRINCIPAIS NOTÍCIAS */

.principais-noticias {
    width: 100%;
    height: 600px;
    background-color: #0B7ABF;
    margin: 60px 0 0;
}

.principais-noticias h2 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    padding: 20px 0 0;
}

.principais-noticias ul {
    margin: 80px 0 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.principais-noticias li {
    width: 380px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 20px;
}

/* CARACTERÍSTICAS DO PET */

.caracteristicas-do-pet h2 {
    text-align: center;
    font-size: 32px;
    color: #074973;
    padding: 20px 0 0;
}

.caracteristicas-do-pet ul h3 {
    color: #074973;
    font-size: 24px;
    font-weight: 800;
}

.caracteristicas-do-pet .nome-e-imagem p {
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: #053451;
    border-radius: 150px;
    margin: 30px 0 0;
}

.caracteristicas-do-pet .caracteristicas h3 {
    margin: 0 0 15px;
}

.caracteristicas-do-pet ul {
    margin: 80px 0 0;
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
}

.caracteristicas-do-pet ul li {
    width: 50%;
    text-align: center;
    justify-items: center;
    margin: 0 120px 0 0;
}

.caracteristicas-do-pet ul li p {
    text-align: justify;
    margin: 0 0 20px;
}

/* RODAPÉ */

.rodape {
    margin: 60px 0 0;
    width: 100%;
    height: 300px;
    background-color: #0B7ABF;
}

.rodape .lista-rodape {
    color: #ffffff;
    padding: 50px 100px 0 0;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 200px;
}

.rodape .lista-rodape .cuida-pet-rodape h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding: 50px 0 0;
}

.rodape .lista-rodape .cuida-pet-rodape p {
    margin: 20px 0 0;
    max-width: 300px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.rodape .lista-rodape .inicio-rodape h3 {
    font-size: 20px;
    font-weight: 700;
}

.rodape .lista-rodape .inicio-rodape ul {
    list-style: none;
    text-align: left;
    margin: 10px 0 0;
    padding: 0 20px 0 0;
}

.rodape .lista-rodape .inicio-rodape ul li{
    margin: 5px 0 0;
}

.rodape .lista-rodape .inicio-rodape ul li a {
    color: #fff;
    text-decoration: none;
}

/*  */
.rodape .lista-rodape .sobre-rodape h3 {
    font-size: 20px;
    font-weight: 700;
}

.rodape .lista-rodape .sobre-rodape ul {
    list-style: none;
    text-align: left;
    margin: 10px 0 0;
    padding: 0 20px 0 0;
}

.rodape .lista-rodape .sobre-rodape ul li{
    margin: 5px 0 0;
}

.rodape .lista-rodape .sobre-rodape ul li a {
    color: #fff;
    text-decoration: none;
}
