/* # Estilos da página principal */

/* section */
.servicos {
    width: 100vw;
    text-align: center;
}

/* BANNER PRINCIPAL */

.fundo-banner-principal {
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fundo-banner-principal img {
    padding-top: 20px;
    height: 250px;
}

/* SERVIÇOS */

.servicos-container {
    width: 100vw;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 30px;
}

.servicos h2 {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 800;
    color: var(--text-color-02);
}

.servicos-container .servico-item {
    width: 400px;
    height: 200px;
    background-color: var(--bg-color-02);
    border-radius: 20px;
    padding: 25px 10px 0 25px;
    text-align: center;
    display: flex;
}

.servicos-container .servico-item:hover {
    transition: 0.8s;
    background-color: #0096f3;
}

.servicos-container .servico-item a {
    display: flex;
    text-decoration: none;
}

.servicos-container .servico-item .servico-item-esquerdo {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.servicos-container .servico-item h3 {
    font-weight: 700;
    font-size: 28px;
    color: var(--text-color-01);
    text-align: left;
    margin: 0;
}

.servicos-container .servico-item p {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color-01);
    text-align: left;
    max-width: 180px;
    margin: 15px 0 0;
}



.servicos-container .servico-item .imagem-meu-perfil {
    width: 50%;
}

/* Imagem meus pets */
.servicos-container .servico-item .imagem-meus-pets {
    width: 50%;
}

/* Imagem banho e tosa */
.servicos-container .servico-item .imagem-banho {
    width: 50%;
}

/* Imagem medicamentos e vacinas */
.servicos-container .servico-item .imagem-medicamentos-e-vacinas {
    width: 50%;
}

/* Imagem noticias */
.servicos-container .servico-item .imagem-noticias {
    width: 50%;
}

/* Imagem pet shops */
.servicos-container .servico-item .imagem-pet-shops {
    width: 50%;
}

/* PRINCIPAIS NOTÍCIAS */

.principais-noticias {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color-01);
    padding: 30px;
}

/* TITULO */
.titulo-principais-noticias {
    font-size: 32px;
    color: var(--text-color-01);
    font-weight: 700;
    text-align: center;
}

/* CONTAINER */
.container-noticias {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 30px;
}

.container-noticias .noticia-item {
    background-color: var(--text-color-01);
    width: 400px;
    height: 480px;
    padding: 0;
    border-radius: 20px;
    text-align: center;
}

.container-noticias .noticia-item .imagem {
    width: 400px;
    height: 220px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container-noticias .noticia-item .imagem img {
    background-color: var(--bg-color-02);
    width: 400px;
    height: 220px;
    max-width: 450px;
    max-height: 220px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container-noticias .noticia-item .titulo-e-descricao {
    margin: 20px;
    width: 350px;
    height: 170px;
    text-align: center;
}

/* TITULO NOTICIA */
.container-noticias .noticia-item .titulo-e-descricao h2 {
    font-size: 24px;
    color: var(--text-color-02);
}

/* DESCRIÇÃO NOTICIA */
.container-noticias .noticia-item .titulo-e-descricao p {
    font-size: 18px;
    color: var(--text-color-02);
    text-align: center;
    margin: 10px;
}

/* BOTÃO */
.container-noticias .noticia-item .botao-ver-mais {
    text-align: center;
}

.container-noticias .noticia-item a {
    font-size: 20px;
    text-decoration: none;
    background-color: var(--bg-color-02);
    color: var(--text-color-01);
    border-radius: 20px;
    padding: 10px 30px;
}

/* CARACTERÍSTICAS DO PET */

.caracteristicas-do-pet {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracteristicas-do-pet h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 32px;
    font-weight: 800;
    color: var(--text-color-02);
}

.caracteristicas-do-pet .caracteristicas {
    background-color: var(--bg-color-01);
    width: 80%;
    height: auto;
    margin: 40px 0;
    padding: 30px 40px;
    border-radius: 20px;
}

.caracteristicas-do-pet .caracteristicas h3 {
    color: var(--text-color-01);
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.caracteristicas-do-pet .caracteristicas p {
    font-size: 20px;
    color: var(--text-color-01);
    font-weight: 400;
    text-align: start;
    margin: 0;
    padding: 10px 0 40px;
}

/* RODAPÉ */

.rodape {
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
    background-color: var(--bg-color-02);
    padding: 20px;
}

.rodape .lista-rodape {
    color: var(--text-color-01);
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.rodape .lista-rodape .cuida-pet-rodape h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.rodape .lista-rodape .cuida-pet-rodape p {
    margin: 20px 0 0;
    max-width: 300px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.rodape .lista-rodape .inicio-rodape h3 {
    font-size: 20px;
    font-weight: 700;
}

.rodape .lista-rodape .inicio-rodape ul {
    list-style: none;
    text-align: left;
    margin: 10px 0 0;
    padding: 0 20px 0 0;
}

.rodape .lista-rodape .inicio-rodape ul li{
    margin: 5px 0 0;
}

.rodape .lista-rodape .inicio-rodape ul li a {
    color: var(--text-color-01);
    text-decoration: none;
}

.rodape .lista-rodape .inicio-rodape ul li a:hover {
    transition: 0.5s;
    color: var(--bg-color-01);
}

/*  */
.rodape .lista-rodape .sobre-rodape h3 {
    font-size: 20px;
    font-weight: 700;
}

.rodape .lista-rodape .sobre-rodape ul {
    list-style: none;
    text-align: left;
    margin: 10px 0 0;
    padding: 0 20px 0 0;
}

.rodape .lista-rodape .sobre-rodape ul li {
    margin: 5px 0 0;
}

.rodape .lista-rodape .sobre-rodape ul li a {
    color: #fff;
    text-decoration: none;
}

.rodape .lista-rodape .sobre-rodape ul li a:hover {
    transition: 0.5s;
    color: var(--bg-color-01);
}


/* ==== MEDIA QUERIES ==== */
/* ==== RESPONSIVIDADE ==== */

/* Extra Small (XS) - Celular no modo retrato */
@media (min-width: 0px) {
    body {
        background-color: purple;
    }

    /* BANNER PRINCIPAL */
    .fundo-banner-principal {
        background-color: var(--bg-color-01);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .fundo-banner-principal img {
        width: 100%;
        height: 100%;
        padding-top: 10px;
    }

    /* SERVIÇOS */
    .servicos-container {
        padding: 10px 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .servicos h2 {
        margin-top: 10px;
        font-size: 28px;
    }

    .servicos-container .servico-item {
        width: 350px;
        height: 180px;
    }

    .servicos-container .servico-item h3 {
        font-size: 24px;
    }

    
    /* PRINCIPAIS NOTÍCIAS */

    .principais-noticias {
        height: auto;
        padding: 20px;
    }

    /* TITULO */
    .titulo-principais-noticias {
        font-size: 28px;
    }

    /* CONTAINER */
    .container-noticias {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        overflow-x: auto; /* Permite rolagem horizontal */
        scroll-snap-type: x mandatory; /* Faz com que cada item "trave" no centro */
        gap: 20px; /* Espaço entre as notícias */
        padding: 20px; /* Reduz o padding para melhor adaptação */
        width: 100%;
    }

    .container-noticias .noticia-item {
        width: 320px;
        height: 480px;
        text-align: center;
        scroll-snap-align: center; /* Centraliza ao deslizar */
    }

    .container-noticias .noticia-item .imagem {
        width: 320px;
        height: 220px;
    }

    .container-noticias .noticia-item .imagem img {
        width: 320px;
        height: 220px;
        max-width: 320px;
        max-height: 220px;
    }

    .container-noticias .noticia-item .titulo-e-descricao {
        margin: 10px 0 0;
        padding: 0 10px;
        width: 100%;
        text-align: center;
    }

    /* TITULO NOTICIA */
    .container-noticias .noticia-item .titulo-e-descricao h2 {
        font-size: 20px;
    }

    /* DESCRIÇÃO NOTICIA */
    .container-noticias .noticia-item .titulo-e-descricao p {
        font-size: 16px;
    }

    /* BOTÃO */
    .container-noticias .noticia-item a {
        font-size: 18px;
        border-radius: 20px;
        padding: 10px 20px;
    }

    /* CARACTERÍSTICAS DO PET */
    .caracteristicas-do-pet h2 {
        font-size: 24px;
    }

    .caracteristicas-do-pet .caracteristicas {
        width: 90%;
        height: auto;
        margin-top: 40px;
        padding: 30px 20px;
    }

    .caracteristicas-do-pet .caracteristicas h3 {
        font-size: 20px;
    }

    .caracteristicas-do-pet .caracteristicas p {
        font-size: 16px;
        font-weight: 400;
        text-align: start;
        margin: 0;
        padding: 10px 0 30px;
    }

    /* RODAPÉ */
    .rodape .lista-rodape {
        justify-content: center;
    }

    .rodape .lista-rodape .cuida-pet-rodape h3 {
        font-size: 32px;
    }

    .rodape .lista-rodape .cuida-pet-rodape p {
        margin: 10px 0 0;
        max-width: 250px;
        font-size: 18px;
    }

    .rodape .lista-rodape .inicio-rodape h3 {
        display: none;
    }

    .rodape .lista-rodape .inicio-rodape ul {
        display: none;
    }

    /*  */
    .rodape .lista-rodape .sobre-rodape h3 {
        display: none;
    }

    .rodape .lista-rodape .sobre-rodape ul {
        display: none;
    }
}

/* Small (S) - Celular no modo horizontal */
@media (min-width: 576px) { 
    body {
        background-color: red;
    }

    /* BANNER PRINCIPAL */
    .fundo-banner-principal img {
        height: 190px;
    }

    /* SERVIÇOS */ 
    .servicos h2 {
        margin-top: 10px;
        font-size: 28px;
    }

    .servicos-container .servico-item {
        width: 400px;
        height: 200px;
    }

    .servicos-container .servico-item h3 {
        font-size: 24px;
    }

    /* PRINCIPAIS NOTÍCIAS */
    .container-noticias .noticia-item {
        width: 360px;
        height: 480px;
    }

    .container-noticias .noticia-item .imagem {
        width: 100%;
    }

    .container-noticias .noticia-item .imagem img {
        width: 360px;
        max-width: 360px;
    }

    .container-noticias .noticia-item .titulo-e-descricao {
        margin: 0 0 20px 0;
        padding: 20px 10px;
        width: 100%;
        height: 170px;
        text-align: center;
    }

    /* TITULO NOTICIA */
    .container-noticias .noticia-item .titulo-e-descricao h2 {
        font-size: 24px;
    }

    /* DESCRIÇÃO NOTICIA */
    .container-noticias .noticia-item .titulo-e-descricao p {
        font-size: 18px;
    }

    /* CARACTERÍSTICAS DO PET */
    .caracteristicas-do-pet h2 {
        font-size: 32px;
    }

    .caracteristicas-do-pet .caracteristicas h3 {
        font-size: 22px;
    }

    .caracteristicas-do-pet .caracteristicas p {
        font-size: 16px;
        font-weight: 400;
        text-align: start;
        margin: 0;
        padding: 10px 0 30px;
    }

    /* RODAPÉ */
    .rodape .lista-rodape {
        justify-content: space-around;
    }

    .rodape .lista-rodape .cuida-pet-rodape h3 {
        font-size: 28px;
    }

    .rodape .lista-rodape .cuida-pet-rodape p {
        max-width: 200px;
        font-size: 16px;
    }

    .rodape .lista-rodape .inicio-rodape h3 {
        display: block;
    }

    .rodape .lista-rodape .inicio-rodape ul {
        display: block;
    }

    /*  */
    .rodape .lista-rodape .sobre-rodape h3 {
        display: block;
    }

    .rodape .lista-rodape .sobre-rodape ul {
        display: block;
    }
}

/* Medium (M) - Tablets */
@media (min-width: 768px) {
    body {
        background-color: green;
    }

    /* BANNER PRINCIPAL */
    .fundo-banner-principal img {
        padding-top: 20px;
        width: 100%;
        height: 220px;
    }

    /* SERVIÇOS */ 
    .servicos-container {
        padding: 10px 20px 30px;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .servicos h2 {
        margin-top: 10px;
        font-size: 28px;
    }

    .servicos-container .servico-item {
        width: 350px;
        height: 180px;
    }

    .servicos-container .servico-item h3 {
        font-size: 24px;
    }
}

/* Large (L) - Laptop */
@media (min-width: 992px) {
    body {
        background-color: aqua;
    }
}

/* Extra large (xl): Desktop */
@media (min-width: 1200px) {
    body {
        background-color: orange;
    }
}