/* Título da página */

.titulo-pagina {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #053451;
    margin: 20px 0 0;
}

/* Lista de Pets */

.lista-pets {
    list-style: none;
    margin: 0 0 0 2%;
    display: none; /* Inicialmente oculta */
    gap: 20px;
}

.lista-pets li {
    width: 160px;
    height: 80px;
    background-color: #ffffff; /* Fundo branco quando não selecionado */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    border: 2px solid #053451; /* Borda azul quando não selecionado */
}

.lista-pets li h2 {
    color: #0B7ABF; /* Cor azul para texto quando não selecionado */
    font-size: 22px;
}

/* Estilo para o item selecionado */
.lista-pets li.selected {
    background-color: #0B7ABF; /* Fundo azul para selecionado */
    border: none; /* Remove a borda quando selecionado */
}

.lista-pets li.selected h2 {
    color: #ffffff; /* Texto branco para o item selecionado */
}

.mensagem-vazia {
    display: none;  /* Inicialmente oculta */
    font-size: 20px;
    color: #0B7ABF;
    text-align: center;
    margin-top: 20px;
}

/* Cadastrar Novo Pet */

.bloco-linha {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco-linha .linha {
    width: 90%;
    height: 1px;
    background-color: black;
}

.cadastrar-novo-pet {
    margin-top: 50px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastrar-novo-pet a {
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px;
    color: #0B7ABF;
    text-decoration: none;
    font-weight: 500;
    margin: 15px 0 0;
}