/* Título da página */

.titulo-pagina {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #053451;
    margin: 20px 0 0;
}

/* Lista de Pets */

.lista-pets {
    list-style: none;
    margin: 0 0 0 2%;
}

.lista-pets li {
    width: 160px;
    height: 80px;
    background-color: #0B7ABF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
    /* Faz com que a div fique escondida */
    /* display: none; */
}

.lista-pets li h2 {
    color: #ffffff;
    font-size: 22px;
}


/* Cadastrar Novo Pet */

.bloco-linha {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco-linha .linha {
    width: 90%;
    height: 1px;
    background-color: black;
}

.cadastrar-novo-pet {
    margin-top: 50px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastrar-novo-pet a {
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px;
    color: #0B7ABF;
    text-decoration: none;
    font-weight: 500;
    margin: 15px 0 0;
}