/* CABEÇALHO */

/* Título da página */

.titulo-pagina {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: #053451;
    margin: 20px 0 0;
}

/* INTERAÇÃO USUÁRIO */

.conteiner-registrar-banho {
    background-color: #053451;
    border-radius: 20px;
    width: 400px;
    display: block;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
}

.conteiner-registrar-banho h2 {
    text-align: left;
}

.interacao-usuario h2 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px 40px;
}

.interacao-usuario input {
    background-color: #D9D9D9;
    color: #333;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 0 20px;
}

.interacao-usuario select {
    background-color: #D9D9D9;
    color: #333;
    width: 320px;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 0 20px;
}

.interacao-usuario .observacoes-banho{
    margin: 0 0 30px;
    font-size: 16px;
    width: 300px;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: #333;
    border: 2px solid #053451;
    resize: none;
}

.interacao-usuario .salvar-banho {
    background-color: #0B7ABF;
    border-radius: 20px;
    text-align: center;
}

.interacao-usuario .salvar-banho h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
}