/* CABEÇALHO */
.cabecalho {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #0B7ABF;
    color: white;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.cabecalho .logo-cuidapet {
    margin-left: 20px;
    font-size: 35px;
    text-align: left;
}

.cabecalho .navegacao ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center; 
}


.cabecalho .navegacao .foto-perfil {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: #053451;
    border-radius: 40px;
}

/* Título da página */

.titulo-pagina {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: #053451;
    margin: 20px 0 0;
}

/* INTERAÇÃO USUÁRIO */

.conteiner-registrar-banho {
    background-color: #053451;
    border-radius: 20px;
    width: 300px;
    display: block;
    margin: 40px auto;
    padding: 30px;
    text-align: center;
}

.conteiner-registrar-banho h2 {
    text-align: left;
}

.interacao-usuario h2 {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 5px 40px;
}

.interacao-usuario input {
    background-color: #D9D9D9;
    color: #333;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 0 20px;
}

.interacao-usuario select {
    background-color: #D9D9D9;
    color: #333;
    width: 220px;
    height: 35px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 0 20px;
}

.interacao-usuario .observacoes-banho{
    height: 120px;
    margin: 0 0 40px;
}

.interacao-usuario .salvar-banho {
    background-color: #0B7ABF;
    border-radius: 20px;
    text-align: center;
}

.interacao-usuario .salvar-banho h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
}