<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Registrar Nova Rotina</title>
    
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/pages/registrar_nova_rotina.css">
    <!-- Ìcone da pata -->
    <link rel="shortcut icon" href="../../static/css/imagens/favicon-pata.png" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="../pagina_principal/pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="../pagina_principal/pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="../sobre_nos/sobre_nos.html">SOBRE NÓS</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <h1 class="titulo-pagina">REGISTRAR NOVA ROTINA</h1>

    <div class="container-registrar-rotina">
        <form class="interacao-usuario" action="rotina.html" method="POST">
            <h2>PET:</h2>
            <select class="selecionar-pet" required>
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="bob">BOB</option>
                <option value="marley">MARLEY</option>
            </select>

            <h2>ROTINA:</h2>
            <select class="selecionar-rotina" required>
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="alimentacao">ALIMENTAÇÃO</option>
                <option value="passeio">PASSEIO</option>
            </select>
    
            <h2>DATA:</h2>
            <input type="date" class="data-nova-rotina" required>

            <h2>HORÁRIO:</h2>
            <input type="time" class="horario-nova-rotina" required>
    
            <h2>PRÓXIMA ROTINA:</h2>
            <input type="time" class="proxima-rotina" required>

            <h2>OBSERVAÇÕES:</h2>
            <textarea class="observacoes-rotina" placeholder="Observações sobre a rotina do pet"></textarea>
    
            <button type="submit" class="salvar-rotina">
                <h3>SALVAR ROTINA</h3>
            </button>
        </form>
    </div>
</body>
</html>