<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Rotina</title>

    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/pages/rotina.css">
    <!-- Ìcone da pata -->
    <link rel="shortcut icon" href="../../static/css/imagens/favicon-pata.png" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="../pagina_principal/pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="../pagina_principal/pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="../sobre_nos/sobre_nos.html">SOBRE NÓS</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <h1 class="titulo-pagina">ROTINA</h1>

    <div class="container-rotinas">
        <div class="informacoes-pet">
            <div class="imagem-pet">
                <img src="../../static/css/imagens/rotina.png" alt="imagem do pet">
            </div>
            <div class="nome-do-pet">
                <h2>NOME DO PET</h2>
            </div>
        </div>

        <div class="informacoes-rotina-pet">
            <div class="titulo-rotina-pet">
                <h2>ALIMENTAÇÃO</h2>
            </div>
            <div class="titulo-rotinas-pet">
                <h2>HORÁRIO DA ÚLTIMA ALIMENTAÇÃO</h2>
                <h2>PRÓXIMA ALIMENTAÇÃO</h2>
            </div>

            <div class="datas-rotinas">
                <h3>08:00 - MANHÃ</h3>
                <h3 class="data-proxima-rotina">13:00 - TARDE</h3>
            </div>

            <div class="situacao-rotina-pet">
                <h3>SEU PET ESTÁ EM DIA COM A ALIMENTAÇÃO</h3>
            </div>

            <div class="registrar-nova-rotina">
                <a href="registrar_nova_rotina.html">REGISTRAR UMA NOVA ALIMENTAÇÃO</a>
            </div>

            <!-- PARTE 2, VACINAS -->

            <div class="titulo-rotina2-pet">
                <h2>PASSEIOS</h2>
            </div>

            <div class="titulo-rotinas2-pet">
                <h2>HORÁRIO DO ÚLTIMO PASSEIO</h2>
                <h2>PRÓXIMO PASSEIO</h2>
            </div>

            <div class="datas-rotinas2">
                <h3>24/10 - 08:00 </h3>
                <h3 class="data-proxima-rotina2">24/10 - 16:00</h3>
            </div>

            <div class="situcao-rotina2-pet">
                <h3>SEU PET ESTÁ EM DIA COM O PASSEIO</h3>
            </div>

            <div class="registrar-nova-rotina2">
                <a href="../rotina/registrar_nova_rotina.html">REGISTRAR NOVO PASSEIO</a>
            </div>
        </div>
    </div>
</body>
</html>