<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Seu Perfil</title>

    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/pages/perfil_usuario.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="../pagina_principal/pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="../pagina_principal/pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="../sobre_nos/sobre_nos.html">SOBRE NÓS</a>
                </li>
                <li class="foto-perfil">
                    <a href="../perfil_usuario/perfil_usuario.html">
                        <img src="../../static/css/imagens/foto-perfil-padrao.png" alt="foto-perfil">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo-pagina">SEU PERFIL</h1>
    
    <div class="perfil-usuario">
        <div class="informacoes-usuario">
            <div class="imagem-usuario">
                <img src="../../static/css/imagens/foto-perfil-padrao.png" alt="imagem do usuario">
            </div>
            <div class="nome-do-usuario">
                <h2>NOME DO USUARIO</h2>
            </div>
        </div>

        <div class="dados-usuario">
            <div>
                <h2>NOME:</h2>
                <div class="container-dado">
                    <h3>NOME COMPLETO USUARIO</h3>
                </div>
                <h2>EMAIL:</h2>
                <div class="container-dado">
                    <h3>EMAIL USUARIO</h3>
                </div>
                <h2>SENHA:</h2>
                <div class="container-dado">
                    <h3>SENHA USUARIO</h3>
                </div>
            </div>

            <div class="editar-perfil-usuario">
                <a href="./editar_perfil.html">EDITAR PERFIL</a>
            </div>
    </div>
</body>
</html>