/* # Estilos básicos e reset */
:root {
    --bg-color-01: #053451;
    --bg-color-02: #0B7ABF;
    
    --text-color-01: #fff;
    --text-color-02: #074973;
    --text-color-03: #000;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', Helvetica, sans-serif;
}

* {
    max-width: 100%;
    box-sizing: border-box;
}

