.cabecalho {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #0B7ABF;
    color: white;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.cabecalho .logo-cuidapet a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 35px;
    text-align: left;
}

.cabecalho .navegacao ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center; 
    font-size: 16px;
}

.cabecalho .navegacao a {
    text-decoration: none;
    color: #fff;
}


.cabecalho .navegacao .foto-perfil {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: #053451;
    border-radius: 40px;
}

.cabecalho .navegacao .foto-perfil img {
    max-width: 40px;
    max-height: 40px;
}

/* ==== MEDIA QUERIES ==== */
/* ==== RESPONSIVIDADE ==== */

/* Extra Small (XS) - Celular no modo retrato */
@media (min-width: 0px) {
    .cabecalho {
        padding: 0 10px;
        height: 60px;
    }
    
    .cabecalho .logo-cuidapet a {        
        margin-left: 0px;
        font-size: 28px;
    }
    
    .cabecalho .navegacao ul {
        gap: 10px;
        font-size: 14px;
    }
}

/* Small (S) - Celular no modo horizontal */
@media (min-width: 576px) { 
    .cabecalho {
        background-color: red;
    }
}

/* Medium (M) - Tablets */
@media (min-width: 768px) {
    .cabecalho {
        background-color: green;
    }
}

/* Large (L) - Laptop */
@media (min-width: 992px) {
    .cabecalho {
        background-color: aqua;
    }
}

/* Extra large (xl): Desktop */
@media (min-width: 1200px) {
    .cabecalho {
        background-color: orange;
    }
}
