{% load static %}<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Meus Pets</title>

    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/header.css" %}">
    <link rel="stylesheet" href="{% static "css/pages/meus_pets.css" %}">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="{% url "inicio" %}">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="{% url "inicio" %}">HOME</a>
                </li>
                <li>
                    <a href="{% url "sobre nos" %}">SOBRE NÓS</a>
                </li>
                <li class="foto-perfil">
                    <a href="{% url "perfil usuario" %}">
                        <img src="{% static "css/imagens/foto-perfil-padrao.png" %}" alt="foto-perfil">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo-pagina">MEUS PETS</h1>

    <ul class="lista-pets">
        <li>
            <h2>BOB</h2>
        </li>
        <li>
            <h2>Marley</h2>
        </li>
    </ul>

    <!-- Esta mensagem só aparece se o usuário não tiver pets cadastrados -->
    <p class="mensagem-vazia">Você ainda não tem pets cadastrados</p>

    <div class="bloco-linha">
        <hr class="linha">
    </div>

    <div class="cadastrar-novo-pet">
        <a href="{% url "cadastrar pet" %}">CADASTRAR UM NOVO PET</a>
    </div>

    <script src="{% static "js/index.js" %}"></script>
</body>
</html>