<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Notícias</title>

    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/pages/noticias.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="../pagina_principal/pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="../pagina_principal/pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="../sobre_nos/sobre_nos.html">SOBRE NÓS</a>
                </li>
                <li class="foto-perfil">
                    <a href="../perfil_usuario/perfil_usuario.html">
                        <img src="../../static/css/imagens/foto-perfil-padrao.png" alt="foto-perfil">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo-pagina">NOTÍCIAS</h1>


    <!-- Lista com as informações da API -->
    <div class="container-noticias">
    <ul class="noticia">
        <div class="imagem">
            <img src="../../static/css/imagens/noticias.png" alt="Notícia 1">
        </div>
        <div class="titulo-e-descricao">
            <h2>Título Notícia 1</h2>
            <p>Pequena descrição notícia 1</p>
        </div>
        <div class="botao-ver-mais">
            <a class="botao-noticia" href="./noticia-unica.html">VER MAIS</a>
        </div>
    </ul>

    <ul class="noticia">
        <div class="imagem">
            <img src="../../static/css/imagens/noticias.png" alt="Notícia 1">
        </div>
        <div class="titulo-e-descricao">
            <h2>Título Notícia 1</h2>
            <p>Pequena descrição notícia 1</p>
        </div>
        <div class="botao-ver-mais">
            <a class="botao-noticia" href="./noticia-unica.html">VER MAIS</a>
        </div>
    </ul>
    </div>

    <div class="container-noticias">
        <ul class="noticia">
            <div class="imagem">
                <img src="../../static/css/imagens/noticias.png" alt="Notícia 1">
            </div>
            <div class="titulo-e-descricao">
                <h2>Título Notícia 1</h2>
                <p>Pequena descrição notícia 1</p>
            </div>
            <div class="botao-ver-mais">
                <a class="botao-noticia" href="./noticia-unica.html">VER MAIS</a>
            </div>
        </ul>
    
        <ul class="noticia">
            <div class="imagem">
                <img src="../../static/css/imagens/noticias.png" alt="Notícia 1">
            </div>
            <div class="titulo-e-descricao">
                <h2>Título Notícia 1</h2>
                <p>Pequena descrição notícia 1</p>
            </div>
            <div class="botao-ver-mais">
                <a class="botao-noticia" href="./noticia-unica.html">VER MAIS</a>
            </div>
        </ul>
    </div>
</body>
</html>