/* section */
.registrar-medicamento-vacina {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/* Título da página */

.titulo-pagina h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color-02);
}

/* INTERAÇÃO USUÁRIO */

.container-registrar-medicamento-vacina {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 20px;
    margin: 20px 0 0;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-01);
}


.container-registrar-medicamento-vacina .interacao-usuario {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.container-registrar-medicamento-vacina .interacao-usuario label {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color-01);
}

.interacao-usuario input {
    background-color: #D9D9D9;
    color: #333;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
}

.interacao-usuario select {
    background-color: #D9D9D9;
    color: #333;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
}

.interacao-usuario .observacoes-medicamento-vacina {
    font-size: 16px;
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: #333;
    border: 2px solid #053451;
    resize: none;
}

/* botão salvar banho */

.salvar {
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--bg-color-02);
    color: var(--text-color-01);
}