<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Cadastrar Pet</title>

    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/pages/cadastrarPet.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="../pagina_principal/pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="../pagina_principal/pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="../sobre_nos/sobre_nos.html">SOBRE NÓS</a>
                </li>
                <li class="foto-perfil">
                    <a href="../perfil_usuario/perfil_usuario.html">
                        <img src="../../static/css/imagens/foto-perfil-padrao.png" alt="foto-perfil">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="area-cadastro-pet">
        <div class="titulo-area-pet">
            <h2>CADASTRAR PET</h2>
        </div>

        <form class="interacao-usuario">
            <div class="interacao-usuario-esquerdo">
                <h3>NOME DO PET:</h3>
                <input type="text" class="nome-do-pet" placeholder="Nome do Pet" required>

                <h3>ESPÉCIE:</h3>
                <select class="especie-pet">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="cachorro">Cachorro</option>
                    <option value="gato">Gato</option>
                </select>

                <h3>RAÇA:</h3>
                <input type="text" class="raca-do-pet" placeholder="Raça do Pet" required>

                <h3>SEXO:</h3>
                <select class="sexo-do-pet">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="macho">Macho</option>
                    <option value="femea">Fêmea</option>
                    <option value="nao-identificado">Não identificado</option>
                </select>

                <h3>PESO:</h3>
                <input type="number" class="peso-do-pet" placeholder="Peso do Pet" required>

                <h3>NASCIMENTO:</h3>
                <input type="date" class="nascimento-do-pet" placeholder="Nascimento do Pet" required>
            </div>

            <div class="interacao-usuario-direito">
                <h3>COR DA PELAGEM:</h3>
                <input type="text" class="cor-da-pelagem" placeholder="Cor da Pelagem" required>


                <h3>PELAGEM:</h3>
                <select class="pelagem-do-pet">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="curta">Curta</option>
                    <option value="media">Média</option>
                    <option value="longa">Longa</option>
                </select>

                <h3>SOBRE O PET:</h3>
                <textarea class="sobre-o-pet" placeholder="Sobre o Pet"></textarea>

                <h3>FOTO:</h3>
                <label for="foto-do-pet" id="foto-label" class="foto-label">Selecione uma imagem do pet</label>
                <input type="file" id="foto-do-pet" class="foto-do-pet" accept="image/*">
            </div>
        </form>

        <form action="./meus_pets.html" method="post" class="botao-cadastrar-pet">
            <button class="botao-cadastrar-pet">CADASTRAR</button>
        </form>
    </div>
</body>
</html>