<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Meus Pets</title>

    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/pages/meuspets.css">
</head>
<body>
    <!-- Cabeçalho -->
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="../pagina_principal/pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="../pagina_principal/pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="../sobre_nos/sobre_nos.html">SOBRE NÓS</a>
                </li>
                <li class="foto-perfil">
                    <a href="../perfil_usuario/perfil_usuario.html">
                        <img src="../../static/css/imagens/foto-perfil-padrao.png" alt="foto-perfil">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- /Cabeçalho -->

    <h1 class="titulo-pagina">MEUS PETS</h1>

    <ul class="lista-pets">
        <li>
            <h2>BOB</h2>
        </li>
        <li>
            <h2>Marley</h2>
        </li>
    </ul>

    <!-- Esta mensagem só aparece se o usuário não tiver pets cadastrados -->
    <p class="mensagem-vazia">Você ainda não tem pets cadastrados</p>

    <div class="bloco-linha">
        <hr class="linha">
    </div>

    <div class="cadastrar-novo-pet">
        <a href="cadastrar_pet.html">CADASTRAR UM NOVO PET</a>
    </div>

    <script src="../../static/js/index.js"></script>
</body>
</html>