<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Medicamentos e Vacinas</title>

    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/pages/medicamentos_e_vacinas.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="../pagina_principal/pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="../pagina_principal/pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="../sobre_nos/sobre_nos.html">SOBRE NÓS</a>
                </li>
                <li class="foto-perfil"></li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo-pagina">MEDICAMENTOS E VACINAS</h1>

    <div class="medicamentos-e-vacinas">
        <div class="informacoes-pet">
            <div class="imagem-pet">
                <img src="../../static/css/imagens/medicamentos-e-vacinas.png" alt="imagem do pet">
            </div>
            <div class="nome-do-pet">
                <h2>NOME DO PET</h2>
            </div>
        </div>

        <div class="informacoes-medicamentos-pet">
            <div class="titulo-medicamento-pet">
                <h2>MEDICAMENTOS</h2>
            </div>
            <div class="titulo-medicamentos-pet">
                <h2>NOME</h2>
                <h2>DATA</h2>
                <h2>PRÓXIMO</h2>
            </div>

            <div class="datas-medicamentos">
                <h3>ANTI-PULGAS</h3>
                <h3>13/11/2024</h3>
                <h3 class="data-proximo-medicamentos">20/11/2024</h3>
            </div>

            <div class="situacao-medicamentos-pet">
                <h3>SEU PET ESTÁ EM DIA COM O MEDICAMENTO</h3>
            </div>

            <div class="registrar-novo-medicamento">
                <a href="./registrar_medicamento.html">REGISTRAR NOVO MEDICAMENTO</a>
            </div>

            <!-- PARTE 2, VACINAS -->

            <div class="titulo-vacina-pet">
                <h2>VACINAS</h2>
            </div>

            <div class="titulo-vacinas-pet">
                <h2>NOME</h2>
                <h2>DATA</h2>
                <h2>PRÓXIMO</h2>
            </div>

            <div class="datas-vacinas">
                <h3>V8/V10</h3>
                <h3>13/11/2024</h3>
                <h3 class="data-proximo-vacinas">20/11/2024</h3>
            </div>

            <div class="situacao-vacinas-pet">
                <h3>SEU PET ESTÁ EM DIA COM AS VACINAS</h3>
            </div>

            <div class="registrar-novo-vacinas">
                <a href="./registrar_nova_vacina.html">REGISTRAR NOVA VACINA</a>
            </div>
        </div>
    </div>
</body>
</html>