<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Medicamentos e Vacinas</title>

    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/pages/medicamentos_e_vacinas.css">
    <!-- Ìcone da pata -->
    <link rel="shortcut icon" href="../../static/css/imagens/favicon-pata.ico" type="image/x-icon">
</head>
<body>
    <!-- Cabeçalho -->
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="../pagina_principal/pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="../pagina_principal/pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="../sobre_nos/sobre_nos.html">SOBRE NÓS</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- /cabeçalho -->

    <!-- Seção principal: Medicamentos e Vacinas -->
    <section class="medicamento-e-vacina" id="medicamento-e-vacina">
        <h1 class="titulo-pagina">Medicamentos e vacinas</h1>

        <!-- Container com a lista de pets -->
        <div class="medicamento-e-vacina-container">
            <ul class="lista-pets">
                <!-- Preencher dinâmicamente no js -->
            </ul>
        </div>

        <!-- Div que será exibida ao clicar em um pet -->
        <div class="pet-info" style="display: none;">
            <h1>Informações de <span id="nome_pet"></span></h1>
            <p><strong>Último medicamento:</strong> <span id="medicamento_pet"></span> em <span id="data_medicamento"></span></p>
            <p><strong>Última vacina:</strong> <span id="vacina_pet"></span> em <span id="data_vacina"></span></p>
        </div>

        <!-- Mensagem exibida caso o usuário não tenha pets cadastrados -->
        <p class="mensagem-vazia">Você ainda não tem pets cadastrados</p>

        <!-- Linha divisória -->
        <div class="bloco-linha">
            <hr class="linha">
        </div>

        <!-- Link para cadastrar um novo pet -->
        <div class="registrar-novo-medicamento">
            <a href="./registrar_medicamento.html">REGISTRAR</a>
        </div>
    </section>
    <script src="../../static/js/informacoesMedicamentoEVacina.js"></script>
</body>
</html>