<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Cadastro de Novo Usuário</title>

    <link rel="stylesheet" href="../app/static/css/style.css">
</head>
<body class="pagina-cadastrar-usuario">
    <div class="cadastro">
        <div class="titulo">
            <h1>CUIDAPET</h1>
        </div>

        <div class="area-cadastro-usuario">
            <div class="titulo-area-cadastro">
                <h2>CADASTRE-SE</h2>
            </div>

            <div class="interacao-usuario">
                <h3>NOME COMPLETO:</h3>
                <input type="text" class="input-nome-completo" placeholder="Nome completo">

                <h3>E-MAIL:</h3>
                <input type="email" class="input-e-mail" placeholder="E-mail">

                <h3>SENHA:</h3>
                <input type="password" class="input-senha" placeholder="Senha">

                <h3>CONFIRMAÇÃO DE SENHA:</h3>
                <input type="password" class="input-confirmacao-senha" placeholder="Confirmação de senha">

                <a class="cadastrar" href="index.html">
                    <div class="cadastrar">
                        <h4 class="texto-cadastrar">CADASTRAR</h4>
                    </div>
                </a>
            </div>
        </div>
        </div>
    </div>
</body>
</html>