<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Cadastro de Novo Usuário</title>

    <link rel="stylesheet" href="../app/static/css/style.css">
</head>
<body class="pagina-cadastrar-usuario">
    <div class="cadastro">
        <div class="titulo">
            <h1>CUIDAPET</h1>
        </div>

        <div class="area-cadastro-usuario">
            <div class="titulo-area-cadastro">
                <h2>CADASTRE-SE</h2>
            </div>

            <div class="interacao-usuario">
                <h3>NOME COMPLETO:</h3>
                <input type="text" class="input-nome-completo" placeholder="NOME COMPLETO">
            </div>
        </div>

        </div>
    </div>
</body>
</html>