<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet</title>

    <!-- Adicionando fonte robotto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../app/static/css/style.css">
</head>
<body>
    <div class="area-login">
        <div class="imagem-login"><img src="../app/static/css/imagens/banner-pagina-de-login.jpg" alt="Banner com cachorros e gatos"></div>

        <div class="login">
            <div class="titulo">
                <h1 class="texto-titulo">CUIDAPET</h1>
                <p class="descricao-titulo">Facilite a vida do seu pet com apenas um clique!</p>
            </div>

            <div class="interacao-usuario">
                <h2 class="titulo-interacao">ENTRE COM SUA CONTA CUIDAPET</h2>
                <h2 class="e-mail-titulo">E-MAIL</h2>
                <div class="inputs-usuario">
                    <input type="email" class="input-e-mail" placeholder="E-MAIL">
                </div>
                <h2 class="senha-titulo">SENHA</h2>
                <div class="inputs-usuario">
                    <input type="password" class="input-senha" placeholder="SENHA"> 
                </div>
            </div>

            <div class="entrar">
                <input type="submit" value="ENTRAR" class="botao-entrar">
            </div>

            <div class="cadastrar-novo">
                <hr class="linha">
                <h3>NÃO TEM CADASTRO ?</h3>
                <hr class="linha">
            </div>

            <div class="cadastre-se">
                <a href="">CADASTRE-SE AQUI</a>
            </div>
        </div>
    </div>
</body>
</html>