<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Meus Pets</title>

    <link rel="stylesheet" href="../app/static/css/base.css">
    <link rel="stylesheet" href="../app/static/css/pages/meuspets.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">CUIDAPET</h1>

        <nav class="navegacao">
            <ul>
                <li>HOME</li>
                <li>SOBRE-NÓS</li>
                <li class="foto-perfil"></li>
            </ul>
        </nav>
    </header>
    
    <h1 class="titulo-pagina">MEUS PETS</h1>

    <ul class="lista-pets">
        <li>
            <h2>BOB</h2>
        </li>
    </ul>

    <div class="bloco-linha">
        <hr class="linha">
    </div>

    <div class="cadastrar-novo-pet">
        <a href="">CADASTRAR UM NOVO PET</a>
    </div>
</body>
</html>