<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Página principal</title>

    <link rel="stylesheet" href="../app/static/css/base.css">
    <link rel="stylesheet" href="../app/static/css/pages/principal.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">CUIDAPET</h1>

        <nav class="navegacao">
            <ul>
                <li>HOME</li>
                <li>SOBRE-NÓS</li>
                <li class="foto-perfil"></li>
            </ul>
        </nav>

    </header>

    <div class="fundo-banner-principal">
        <img src="../app/static/css/imagens/banner-principal.png" alt="banner-principal" class="banner-principal">
    </div>

    <div class="servicos">
        <h2>CUIDADOS E SERVIÇOS PARA SEU PET</h2>

        <ul class="botoes">
            <li class="meus-pets">
                <h3>MEUS PETS</h3>
                <p>Gerencie informações dos seus pets em um só lugar</p>
                <img src="../app/static/css/imagens/meus-pets.png" alt="imagem-meus-pets" class="imagem-meus-pets">
            </li>
            <li class="banho-e-tosa">
                <h3>BANHO E TOSA</h3>
                <p>Acompanhe o histórico e receba lembretes para novos cuidados</p>
            </li>
            <li class="medicamentos-e-vacinas">
                <h3>MEDICAMENTOS E VACINAS</h3>
                <p>Organize vacinas e medicamentos para garantir a saúde do seu pet</p>
                <img src="../app/static/css/imagens/medicamentos-e-vacinas.png" alt="imagem-medicamentos-e-vacinas" class="imagem-medicamentos-e-vacinas">
            </li>
            <li class="noticias">
                <h3>NOTÍCIAS</h3>
                <p>Confira dicas e novidades do mundo pet para melhor cuidar do seu animal</p>
                <img src="../app/static/css/imagens/noticias.png" alt="imagem-noticias" class="imagem-noticias">
            </li>
            <li class="pet-shops">
                <h3>PET-SHOPS</h3>
                <p>Encontre pet-shops próximos e informações úteis</p>
                <img src="../app/static/css/imagens/pet-shops.png" alt="imagem-pet-shops" class="imagem-pet-shops">
            </li>
            <li class="rotina">
                <h3>ROTINA</h3>
                <p>Crie uma rotina de cuidados para uma vida saudável e equilibrada</p>
            </li>
        </ul>
    </div>
</body>
</html>