<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Página principal</title>

    <link rel="stylesheet" href="../app/static/css/base.css">
    <link rel="stylesheet" href="../app/static/css/pages/principal.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">CUIDAPET</h1>

        <nav class="navegacao">
            <ul>
                <li>HOME</li>
                <li>SOBRE-NÓS</li>
                <li class="foto-perfil"></li>
            </ul>
        </nav>

    </header>

    <div class="fundo-banner-principal">
        <img src="../app/static/css/imagens/banner-principal.png" alt="banner-principal" class="banner-principal">
    </div>

    <div class="servicos">
        <h2>CUIDADOS E SERVIÇOS PARA SEU PET</h2>

        <ul class="botoes">
            <li class="meus-pets">
                <h3>MEUS PETS</h3>
                <p>Gerencie informações dos seus pets em um só lugar</p>
                <img src="../app/static/css/imagens/meus-pets.png" alt="imagem-meus-pets" class="imagem-meus-pets">
            </li>

            <li class="banho-e-tosa">
                <h3>BANHO E TOSA</h3>
                <p>Acompanhe o histórico e receba lembretes para novos cuidados</p>
                <img src="../app/static/css/imagens/banho.png" alt="banho" class="imagem-banho">
            </li>

            <li class="medicamentos-e-vacinas">
                <h3>MEDICAMENTOS E VACINAS</h3>
                <p>Organize vacinas e medicamentos para garantir a saúde do seu pet</p>
                <img src="../app/static/css/imagens/medicamentos-e-vacinas.png" alt="imagem-medicamentos-e-vacinas" class="imagem-medicamentos-e-vacinas">
            </li>

            <li class="noticias">
                <h3>NOTÍCIAS</h3>
                <p>Confira dicas e novidades do mundo pet para melhor cuidar do seu animal</p>
                <img src="../app/static/css/imagens/noticias.png" alt="imagem-noticias" class="imagem-noticias">
            </li>

            <li class="pet-shops">
                <h3>PET-SHOPS</h3>
                <p>Encontre pet-shops próximos e informações úteis</p>
                <img src="../app/static/css/imagens/pet-shops.png" alt="imagem-pet-shops" class="imagem-pet-shops">
            </li>

            <li class="rotina">
                <h3>ROTINA</h3>
                <p>Crie uma rotina de cuidados para uma vida saudável e equilibrada</p>
                <img src="../app/static/css/imagens/rotina.png" alt="rotina" class="imagem-rotina">
            </li>
        </ul>
    </div>

    <div class="principais-noticias">
        <h2>PRINCIPAIS NOTÍCIAS</h2>

        <ul>
            <li>
                <h3>Titulo notícia 1</h3>
            </li>
            <li>
                <h3>Titulo notícia 2</h3>
            </li>
            <li>
                <h3>Titulo notícia 3</h3>
            </li>
        </ul>
    </div>

    <div class="caracteristicas-do-pet">
        <h2>CARACTERÍSTICAS DO PET</h2>

        <ul>
            <li class="nome-e-imagem">
                <h3>BOB</h3>
                <p>imagem</p>
            </li>
            
            <li class="caracteristicas">
                <h3>CARACTERÍSTICAS DO LABRADOR</h3>
                <p>O Labrador Retriever é uma raça de cachorro conhecida por sua natureza amigável, inteligente e leal. De porte médio a grande, eles possuem uma pelagem curta e densa, geralmente em tons de amarelo, preto ou chocolate.</p>
                <h3>COMPORTAMENTO E PERSONALIDADE</h3>
                <p>Labradores são altamente enérgicos, adoram brincar e nadar, sendo excelentes companheiros para famílias e ótimos cães de trabalho em áreas como resgate e assistência. Além de sua personalidade carinhosa, são fáceis de treinar, o que os torna uma escolha popular entre amantes de cães.</p>
            </li>
        </ul>
    </div>

    <footer>
        <div class="rodape">
            <ul class="lista-rodape">
                <li class="cuida-pet-rodape">
                    <h3>CUIDAPET</h3>
                    <p>Facilite a vida do seu pet com apenas um clique!</p>
                </li>

                <li class="inicio-rodape">
                    <h3>ÍNICIO</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Meus Pets</a></li>
                        <li><a href="#">Banho e Tosa</a></li>
                        <li><a href="#">Medicamentos e Vacinas</a></li>
                        <li><a href="#">Notícias</a></li>
                        <li><a href="#">Pet Shops</a></li>
                        <li><a href="#">Rotina</a></li>
                    </ul>
                </li>

                <li class="sobre-rodape">
                    <h3>SOBRE</h3>
                    <ul>
                        <li><a href="#">Sobre nós</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>