<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Página principal</title>

    <link rel="stylesheet" href="../app/static/css/base.css">
    <link rel="stylesheet" href="../app/static/css/pages/principal.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">CUIDAPET</h1>

        <nav class="navegacao">
            <ul>
                <li>HOME</li>
                <li>SOBRE-NÓS</li>
                <li class="foto-perfil"></li>
            </ul>
        </nav>

    </header>

    <div class="fundo-banner-principal">
        <img src="../app/static/css/imagens/banner-principal.png" alt="banner-principal" class="banner-principal">
    </div>

    <div class="servicos">
        <h2>CUIDADOS E SERVIÇOS PARA SEU PET</h2>

        <ul class="botoes">
            <li class="meus-pets">MEUS PETS</li>
            <li class="banho-e-tosa">BANHO E TOSA</li>
            <li class="medicamentos-e-vacinas">MEDICAMENTOS E VACINAS</li>
            <li class="noticias">NOTÍCIAS</li>
            <li class="pet-shops">PET-SHOPS</li>
            <li class="rotina">ROTINA</li>
        </ul>
    </div>
</body>
</html>