<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet - Sobre nós</title>

    <link rel="stylesheet" href="../app/static/css/base.css">
    <link rel="stylesheet" href="../app/static/css/header.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="sobre_nos.html">SOBRE NÓS</a>
                </li>
                <li class="foto-perfil"></li>
            </ul>
        </nav>
    </header>
</body>
</html>