<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidapet - Pet Shops</title>

    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/pages/petshops.css">
    <link rel="stylesheet" href="../../static/js/mapa.js">
</head>
<body>
    <!-- Cabeçalho -->
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="../pagina_principal/pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="../pagina_principal/pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="../sobre_nos/sobre_nos.html">SOBRE NÓS</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Cabeçalho -->

    <!-- Lista com as localizações dos petshops encontrados pela API -->
    <!-- Ao apertar em ver mais o usuário deverá ser redirecionado ao google maps  -->
    
    <section class="pet-shop" id="pet-shop">
        <!-- titulo -->
        <div class="titulo-pagina">
            <h1 class=>Localize aqui</h1>
        </div>

        <div class="map" id="map"></div>
        <script src="../../static/js/mapa.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7fpikcskzoe6OQGjFtQgJZVxRizNniqw&callback=initMap&libraries=places" async defer></script>

    <button onclick="mostrarMinhaLocalizacao()" class="btn-locais">Mostrar Minha Localização</button>

    <button onclick="mostrarLocais()" class="bta-locais">Mostrar Petshops e Veterinários</button>

    </section>
</body>
</html>