<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidapet - Pet Shops</title>

    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/pages/petshops.css">
</head>
<body>
    <!-- Cabeçalho -->
    <header class="cabecalho">
        <h1 class="logo-cuidapet">
            <a href="../pagina_principal/pagina_principal.html">CUIDAPET</a>
        </h1>

        <nav class="navegacao">
            <ul>
                <li>
                    <a href="../pagina_principal/pagina_principal.html">HOME</a>
                </li>
                <li>
                    <a href="../sobre_nos/sobre_nos.html">SOBRE NÓS</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Cabeçalho -->

    <!-- Lista com as localizações dos petshops encontrados pela API -->
    <!-- Ao apertar em ver mais o usuário deverá ser redirecionado ao google maps  -->
    
    <section class="pet-shop" id="pet-shop">
        <!-- titulo -->
        <div class="titulo-pagina">
            <h1 class=>Pet-shops próximos</h1>
        </div>
        <!-- /titulo -->

        <!-- Lista com as informações da API -->
        <!-- container pet-shop -->
        <div class="container-pet-shop">
            <!-- noticia item -->
            <div class="pet-shop-item">
                <div class="imagem">
                    <img src="../../static/css/imagens/pet-shop.png" alt="Pet-shop 1">
                </div>
                <div class="titulo-e-descricao">
                    <h2>Título Pet-shop 1</h2>
                    <p>Pequena descrição Pet-shop 1</p>
                </div>
                <div class="botao-ver-mais">
                    <a class="botao-pet-shop" href="./noticia-unica.html">VER MAIS</a>
                </div>
            </div>
            <!-- /noticia item -->

            <!-- noticia item -->
            <div class="pet-shop-item">
                <div class="imagem">
                    <img src="../../static/css/imagens/pet-shop.png" alt="Pet-shop 1">
                </div>
                <div class="titulo-e-descricao">
                    <h2>Título Pet-shop 1</h2>
                    <p>Pequena descrição Pet-shop 1</p>
                </div>
                <div class="botao-ver-mais">
                    <a class="botao-pet-shop" href="./noticia-unica.html">VER MAIS</a>
                </div>
            </div>
            <!-- /noticia item -->

            <!-- noticia item -->
            <div class="pet-shop-item">
                <div class="imagem">
                    <img src="../../static/css/imagens/pet-shop.png" alt="Pet-shop 1">
                </div>
                <div class="titulo-e-descricao">
                    <h2>Título Pet-shop 1</h2>
                    <p>Pequena descrição Pet-shop 1</p>
                </div>
                <div class="botao-ver-mais">
                    <a class="botao-pet-shop" href="./noticia-unica.html">VER MAIS</a>
                </div>
            </div>
            <!-- /noticia item -->

            <!-- noticia item -->
            <div class="pet-shop-item">
                <div class="imagem">
                    <img src="../../static/css/imagens/pet-shop.png" alt="Pet-shop 1">
                </div>
                <div class="titulo-e-descricao">
                    <h2>Título Pet-shop 1</h2>
                    <p>Pequena descrição Pet-shop 1</p>
                </div>
                <div class="botao-ver-mais">
                    <a class="botao-pet-shop" href="./noticia-unica.html">VER MAIS</a>
                </div>
            </div>
            <!-- /noticia item -->

            <!-- noticia item -->
            <div class="pet-shop-item">
                <div class="imagem">
                    <img src="../../static/css/imagens/pet-shop.png" alt="Pet-shop 1">
                </div>
                <div class="titulo-e-descricao">
                    <h2>Título Pet-shop 1</h2>
                    <p>Pequena descrição Pet-shop 1</p>
                </div>
                <div class="botao-ver-mais">
                    <a class="botao-pet-shop" href="./noticia-unica.html">VER MAIS</a>
                </div>
            </div>
            <!-- /noticia item -->

            <!-- noticia item -->
            <div class="pet-shop-item">
                <div class="imagem">
                    <img src="../../static/css/imagens/pet-shop.png" alt="Pet-shop 1">
                </div>
                <div class="titulo-e-descricao">
                    <h2>Título Pet-shop 1</h2>
                    <p>Pequena descrição Pet-shop 1</p>
                </div>
                <div class="botao-ver-mais">
                    <a class="botao-pet-shop" href="./noticia-unica.html">VER MAIS</a>
                </div>
            </div>
            <!-- /noticia item -->
        </div>
        <!-- /container pet-shop -->
    </section>
</body>
</html>